html,body{height: 100%;}
*{margin: 0; padding: 0; box-sizing: border-box; font-size: 18px;}
.top{display: flex; height: 100px; padding: 30px 0; line-height: 40px; background-color: #4365A1;}
.top-left{width: 200px; color: #FFF;}
.top-select{margin-left: 5px; padding: 3px 7px 5px; width: 100px; font-size: 16px; line-height: 18px; border: none; outline: none; border-radius: 5px; cursor: pointer;}
.top-select>*{font-size: 16px;}
.top-center{flex-grow: 1; text-align: center;}
.top-center span{display: inline-block; padding: 0 10px; background-color: #FFF;}
.top-right{width: 200px; color: #FFF;}
/* 主区域 */
.contain{height: calc(100% - 100px); background-color: #CCC;}
.main{position: relative; margin: 0 auto; width: 750px; height: 100%; border: 12px solid #FEFEFE; border-radius: 5px;}
.contain-main{height: calc(100% - 80px); font-size: 0;}
.contain_node{display: inline-block; vertical-align: middle; text-align: center; font-size: 20px; background: #6495ED; border-radius: 5px; box-shadow: inset 0px 1px 5px rgba(0, 0, 0, .35); cursor: pointer;}
.contain_node:hover{z-index: 99; box-shadow: inset 0px 0px 1px 5px rgba(0, 0, 0, .18); transition: 300ms all;}
.contain_node.flip{background-color: #FFF; transition: 500ms all;}
.contain_node.flip:hover{box-shadow: inset 0px 1px 5px rgba(0, 0, 0, .35);}
.contain_node.fail{background: url(rayImg.png); background-size: 100% 100%;}

/* 开始按钮 */
.contain-bottom{height: 80px; padding-top: 30px; background-color: #FFF; text-align: center;}
.contain-bottom button{padding: 5px 25px; transition: 500ms all; background-color: #FFF; color: #6495ED; border-radius: 5px; border: 1px solid #6495ED; outline: none; cursor: pointer;}
.contain-bottom button:hover{background-color: #6495ED; color: #FFF;}
/* 遮罩 */
.contain-shade{position: absolute; top: 0; left: 0; width: 100%; height: calc(100% - 80px); z-index: 99; text-align: center;}
.contain-shade.hide{display: none;}